body,html{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.makeMeDraggable { 
display: block;
width: 5px;

}

.captcha-playground {
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 20px;
}
.captcha-playground > div.block {
	width: 8px;
	height: 8px;
	margin: 1px;
	float: left;
	border-radius: 2px;
}
.captcha-playground > div.filled {
	background: #666;
}
.captcha-playground > div.empty {
	background: #46c49c;
}
.main
{
	width: 400px;
	height: 300px;
	margin: 10px auto;
	border: 3px solid #ccc;
	border-radius: 3px;
	padding: 10px;
}
.main input
{

	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 5px;
	outline: none;
}

.main button
{
	padding: 10px;
	text-align: center;
	background: #4a4;
	color: green;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #4a4;
	border-radius: 3px;
	float: right;
	margin-right: 10px;
}

.loading
{
	margin-left: 110px;
	display: none;
}

/*#my-image2{

	margin-left: 650px;
	margin-top: -200px;
} */
