/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


@import url(https://fonts.googleapis.com/css?family=Passion+One:700,400);

html,
body {
    height: 100%;
    font-family: 'Passion One', cursive;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-caption
{
    width: auto;
    height: auto;
    position: absolute;
    top: 25%;
    text-align: center;
}
.carousel-caption img{
  margin-left: 10px;
  margin-top: 10px;
}

.carousel-caption h2
{
    font-size: 125px;
    text-shadow: 0px 0px 20px #000;
}

@media only screen and (max-width: 1400px)
{
    .imgContainer p
    {
      font-size: 30px !important;
    }
    .imgContainer:hover > p
    {
      font-size: 40px !important;
    }
    .carousel-caption h2
    {
        font-size: 80px;
    }
    .imgContainer p.txt{
      font-size: 40px !important;
    }

}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fill img
{
      z-index: -999;
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
}

@media only screen and (max-width: 650px){

 .fill img{
   min-width: auto !important;
 }

}
.footer{
    width: 100%;
    height: auto;
    z-index: 99;
    position: absolute;
    bottom: 0;
    background: #000;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}
.stores
{
    width: 100%;
    float: right;
    height: 100%;
}
.stores img
{
    margin-top: 15px;
}
.shift-logo
{
    width: 150px;
    margin-top: 16px;
    float: left;

}
.shift-logo img
{
    width: 150px;
}
.social-icons
{
    width: 120px;
    margin-top: 5px;

}
.social-icons img
{
    width: 28px;
    height: 28px;
    opacity: 0.7;

}
.social-icons img:hover
{
    opacity: 1;
}
.social-icons img:nth-child(3)
{
    margin-left: 20px;
}
.carousel-indicaators
{
    margin: 0;
    padding: 0;
    float: left;

}
.owl-carousel p
{
    margin: 0;
    padding: 0;
}

.owl-carousel a .imgText:visited
{
    display: none;
}

ol.carousel-indicaators li
{
    float: left;
}

@media only screen and (max-width: 980px)
{

    .stores
    {
        width: auto;
        float: right;
        margin: 5px auto;
    }

}



.imgContainer
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}
.imgContainer p
{
  transition: 1s;
  width: 100%;
  height: 100%;
  position: absolute;
  display:flex;
  text-shadow: 0px 0px 3px #000;
  justify-content:center;
  align-items:center;
  font-size: 40px;
  color: #fff;
}
.imgContainer:hover > p
{
  font-size: 50px;
}
.imgContainer p.txt
{
  font-size: 50px;
}
.imgContainer:hover > .imgTopBg
{
  font-size: 21px;

  transition: 1s;
  height: 15%;
}
.imgContainer:hover > .imgBottomBg
{
  font-size: 21px;
  transition: 1s;
  height: 15%;
}
.imgContainer:active > .imgBottomBg
{
  transition: 1s;
  height: 15%;
}
.imgTopBg
{
  width: 100%;
  height: 50%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaElEQVQYV12PUQ2AQAxD32SADZCBDmwQbKADGWADZBwpbMvCfW1Z+9ozYABOvrcAG3D73swHiSZg9b0DLsBCIOdeSA3oRZJAx3CKdMgZJA3CZSYw1k6pjMx/pxBkZvnN20kCHStprp0eilwX0w7FFEcAAAAASUVORK5CYII=);
  position: absolute;
  top: 0;
  transition: 1s;
}
.imgBottomBg
{
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  transition: 1s;
  overflow: hidden;
}
.imgBottomBg > div
{
    width: 100%;
    height: 200%;
    position: absolute;
    top: -100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaElEQVQYV12PUQ2AQAxD32SADZCBDmwQbKADGWADZBwpbMvCfW1Z+9ozYABOvrcAG3D73swHiSZg9b0DLsBCIOdeSA3oRZJAx3CKdMgZJA3CZSYw1k6pjMx/pxBkZvnN20kCHStprp0eilwX0w7FFEcAAAAASUVORK5CYII=);
}
.actived
{
  height: 15% !important;
}

.message
{
  width: auto;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font: 21px sans-serif;
  color: darkred;
  background: rgb(255, 153, 153);
  border-radius: 3px;
  border: 1px solid darkred;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 99;
}
.imgBottomBg:hover
{
  transition: 1s;
  height: 10%;
}
.disHeader
{
  position: absolute;
  z-index: 99;
  top: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #000;
}


@media only screen and (max-width: 768px)
{
    .right-col
    {
        display: none;
    }
    .stores
    {
        display: none;
    }

    .carousel-caption h2
    {
        font-size: 40px;
    }
    .imgContainer p{
      font-size: 30px;
    }
}
